* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    background-color: #f7f7fb;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.card {
    background: #fff;
    padding: 2.5rem 2rem;
    border-radius: 16px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    width: 340px;
    text-align: center;
}


.title {
    font-size: 1.8rem;
    font-weight: 600;
    margin-bottom: 0.5rem;
}

.subtitle {
    font-size: 0.9rem;
    color: #555;
    margin-bottom: 1.5rem;
}

.subtitle a {
    color: #5a45ff;
    text-decoration: none;
    font-weight: 600;
}


.social-login {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-bottom: 1.2rem;
}


.google-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 6px;
    background-color: #fff;
    border: 2px solid rgb(219, 218, 221);
    border-radius: 10px;
    padding: 8px 12px;
    width: 100%;
    cursor: pointer;
    transition: all 0.2s ease;
}

.google-btn:hover {
    background-color: #f4f3ff;
}

.google-btn img {
    width: 18px;
}

.btn-text {
    font-size: 0.9rem;
    color: #333;
}


.fb-btn {
    width: 44px;
    height: 44px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid rgba(219, 218, 221);
    background-color: #fff;
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.2s ease;
}

.fb-btn:hover {
    background-color: #f4f3ff;
}

.fb-btn img {
    width: 20px;
    height: 20px;
    object-fit: contain;
    background: none;
}


.or {
    display: flex;
    align-items: center;
    text-align: center;
    color: #888;
    font-size: 0.9rem;
    margin: 1rem 0;
}

.or::before,
.or::after {
    content: "";
    flex: 1;
    height: 1px;
    background: #ddd;
    margin: 0 10px;
}


.email-login {
    text-align: left;
    margin-bottom: 1.2rem;
}

.email-login label {
    display: block;
    font-size: 0.9rem;
    color: #444;
    margin-bottom: 4px;
}

.email-login input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 8px;
    margin-bottom: 1rem;
    outline: none;
    transition: border 0.2s ease;
}

.email-login input:focus {
    
}


.cta-btn {
    background-color: #5a45ff;
    color: white;
    width: 100%;
    padding: 12px;
    border: none;
    border-radius: 10px;
    font-size: 1rem;
    font-weight: 500;
    cursor: pointer;
    transition: background 0.3s ease;
}

.cta-btn:hover {
    background-color: #4c38e0;
}


.forget-pass {
    display: block;
    margin-top: 1rem;
    color: #5a45ff;
    font-size: 0.9rem;
    text-decoration: none;
    transition: color 0.2s ease;
}

.forget-pass:hover {
    color: #392cc0;
}
